.candy-btn {
  background: #ccc;
  color: black !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;
}

.candy-btn:disabled {
  background: #ccc !important;
}

.candy-btn.dark {
  background: #333;
  color: white !important;
}

.candy-btn.dark.active:hover {
  color: white !important;
}

.candy-btn.active {
  -webkit-transition: text-shadow .2s ease-out .1s, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
  transition: text-shadow .2s ease-out .1s, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
  transition: box-shadow .2s ease-out, transform .2s ease-out, text-shadow .2s ease-out .1s;
  transition: box-shadow .2s ease-out, transform .2s ease-out, text-shadow .2s ease-out .1s, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
}

.candy-btn.active:hover {
  text-decoration: none;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.candy-pink {
  background: #af64d4 !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #af64d4), color-stop(100%, #e64390)) !important;
  background: linear-gradient(135deg, #af64d4 0%, #e64390 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af64d4', endColorstr='#e64390', GradientType=1 ) !important;
  -webkit-box-shadow: 0px 10px 15px 2px rgba(214, 0, 255, 0.25);
          box-shadow: 0px 10px 15px 2px rgba(214, 0, 255, 0.25);
  font-size: 16px;
  color: white !important;
}

.candy-pink.active:hover {
  -webkit-box-shadow: 0px 18px 20px 2px rgba(214, 0, 255, 0.17);
          box-shadow: 0px 18px 20px 2px rgba(214, 0, 255, 0.17);
}

.candy-ocean {
  background: #44ed7f !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #44ed7f), color-stop(100%, #103bff)) !important;
  background: linear-gradient(135deg, #44ed7f 0%, #103bff 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44ed7f', endColorstr='#103bff', GradientType=1 ) !important;
  -webkit-box-shadow: 0px 10px 15px 2px rgba(0, 104, 255, 0.25);
          box-shadow: 0px 10px 15px 2px rgba(0, 104, 255, 0.25);
  font-size: 16px;
  color: white !important;
}

.candy-ocean.active:hover {
  -webkit-box-shadow: 0px 18px 20px 2px rgba(0, 104, 255, 0.17);
          box-shadow: 0px 18px 20px 2px rgba(0, 104, 255, 0.17);
}

.candy-purple {
  background: #00d3be !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #00d3be), color-stop(100%, #e100ff)) !important;
  background: linear-gradient(135deg, #00d3be 0%, #e100ff 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d3be', endColorstr='#e100ff', GradientType=1 ) !important;
  -webkit-box-shadow: 0px 10px 15px 2px rgba(15, 115, 234, 0.25);
          box-shadow: 0px 10px 15px 2px rgba(15, 115, 234, 0.25);
  font-size: 16px;
  color: white !important;
}

.candy-purple.active:hover {
  -webkit-box-shadow: 0px 18px 20px 2px rgba(15, 115, 234, 0.17);
          box-shadow: 0px 18px 20px 2px rgba(15, 115, 234, 0.17);
}

.candy-sunset {
  background: #ffb227 !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffb227), color-stop(100%, #ff58d5)) !important;
  background: linear-gradient(135deg, #ffb227 0%, #ff58d5 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb227', endColorstr='#ff58d5', GradientType=1 ) !important;
  -webkit-box-shadow: 0px 10px 15px 2px rgba(255, 89, 0, 0.25);
          box-shadow: 0px 10px 15px 2px rgba(255, 89, 0, 0.25);
  font-size: 16px;
  color: white !important;
}

.candy-sunset.active:hover {
  -webkit-box-shadow: 0px 18px 20px 2px rgba(255, 89, 0, 0.17);
          box-shadow: 0px 18px 20px 2px rgba(255, 89, 0, 0.17);
}

.candy-green {
  background: #27ff4a !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #27ff4a), color-stop(100%, #28a745)) !important;
  background: linear-gradient(135deg, #27ff4a 0%, #28a745 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27ff4a', endColorstr='#28a745', GradientType=1 ) !important;
  -webkit-box-shadow: 0px 10px 15px 2px rgba(0, 255, 24, 0.25);
          box-shadow: 0px 10px 15px 2px rgba(0, 255, 24, 0.25);
  font-size: 16px;
  color: white !important;
}

.candy-green.active:hover {
  -webkit-box-shadow: 0px 18px 20px 2px rgba(0, 255, 24, 0.17);
          box-shadow: 0px 18px 20px 2px rgba(0, 255, 24, 0.17);
}

.candy-cream {
  background: #ffc48a !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffc48a), color-stop(100%, #ff5888)) !important;
  background: linear-gradient(135deg, #ffc48a 0%, #ff5888 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc48a', endColorstr='#ff5888', GradientType=1 ) !important;
  -webkit-box-shadow: 0px 10px 15px 2px rgba(255, 89, 0, 0.25);
          box-shadow: 0px 10px 15px 2px rgba(255, 89, 0, 0.25);
  font-size: 16px;
  color: white !important;
}

.candy-cream.active:hover {
  -webkit-box-shadow: 0px 18px 20px 2px rgba(255, 89, 0, 0.17);
          box-shadow: 0px 18px 20px 2px rgba(255, 89, 0, 0.17);
}
/*# sourceMappingURL=candy-btn.css.map */